body{
 /*background-image: url("../img/bobcholo.jpg");  
 background-repeat:no-repeat;
 background-attachment: fixed;
 background-position:center;*/
 background:url("../img/bobcholo.jpg") no-repeat fixed center;
}